# Ignore everything in this directory
*~
*.o
bin/
build/
test/build
test/bin
output.txt
# Except this file
!.gitignore
output.txt
bin
test/bin
test/build
.idea
*/**/*.gch
*.a

## for the moment
.cproject
.metadata/
.project
RemoteSystemTempFiles/


# Ignore intellij project files/cmake files
CMakeLists.txt
.idea/
