# Ignore everything in this directory
*~
*.o
bin/
build/
test/build
test/bin
output.txt
apidoc_warning_logfile.txt
third-party/distros/gmp-6.1.1
third-party/distros/ntl-10.3.0
third-party/include
third-party/lib
third-party/share
gmon.out
.gitattributes
# Except this file
!.gitignore
output.txt
bin
test/bin
test/build
.idea
*/**/*.gch
*.a
*.class

## for the moment
.cproject
.metadata/
.project
.settings/
RemoteSystemTempFiles/

.DS_Store

# Ignore intellij project files/cmake files
CMakeLists.txt
.idea/

src/circuit/demo/scan.cpp
src/circuit/demo/parse.cpp
src/circuit/demo/parse.hpp
src/circuit/demo/*.hh
